.collection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.collection-container {
  width: 100%;
  max-width: 1197px;
  padding: 0 24px 120px;
  box-sizing: border-box;
  color: white;
}

.collection-header {
  text-align: center;
  margin-bottom: 40px;
}

.collection-header h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 12px;
}

.collection-header p {
  font-size: 16px;
  color: #999999;
  letter-spacing: 0.5px;
}

.collection-tabs {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.colleaction-button {
  width: 288px;
  height: 40px;
  padding: 0 24px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.colleaction-button:hover,
.colleaction-button.active {
  background: linear-gradient(90deg, #b75cff, #671ae4);
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px 24px;
}

.card {
  width: 100%;
  max-width: 389px;
  height: 595px;
  margin: 0 auto;
  background: #ffffff1a;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-8px);
  background: rgb(173, 165, 165);
  border: 1px solid rgba(143, 0, 255, 0.35);
}
.card:hover .bid-btn{
    transform: translateY(-8px);
  background: rgb(173, 165, 165);
  border: 1px solid rgba(143, 0, 255, 0.35);
}

.card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 12px;
}

.card-info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-row {
  margin: 12px 0 18px;
}

.artist-name {
  font-size: 14px;
  color: #cfcfcf;
}
.bid-label {
  font-size: 12px;
  color: #d0cbe0;
}
.card-title {
  font-size: 18px;
  font-weight: 600;
}
.bid-value {
  font-size: 18px;
  font-weight: 700;
}

.bid-btn {
  width: 337px;
  height: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg, #b75cff, #671ae4);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: auto;
  align-self: center;
}

@media (max-width: 1200px) {
  .collection-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .collection-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .colleaction-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .collection-container {
    padding: 0 16px 120px;
  }

  .collection-grid {
    grid-template-columns: 1fr;
  }

  .card {
    height: auto;
  }

  .card img {
    height: auto;
    aspect-ratio: 1/1;
  }

  .bid-btn {
    width: 100%;
    max-width: 337px;
  }
}
