* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(90deg, #6b2c44, #1a1538);
}

.container {
  max-width: 1197px;
  width: 100%;
  margin-inline: auto;
}

html, body {
  height: auto;
}